.container {
  padding: 20px;
  border: 3px solid #222;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.container img {
  cursor: grab;
}

.container img:active {
  cursor: grabbing;
}
